<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        <!-- column-image  -->
        <div class="column-image">
            <div class="bg"  data-bg="images/bg/13.jpg"></div>
            <div class="overlay"></div>
            <div class="column-title">
                <h2>Contáctame</h2>
                <h3>Si tienes alguna duda o necesitas algo, no dudes en contactarme.</h3>
            </div>
            <div class="ci_dec"><span></span></div>
        </div>
        <!-- column-image end  -->
        <!-- column-wrapper -->
        <div class="column-wrapper">
            <!--section  -->
            <section id="sec1">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Detalles de Contacto</h3>
                        <h4>Estare disponible para cualquier consulta o necesidad que tengas.</h4>
                    </div>
                    <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <p>Puedes escribirme un mensaje o contactarme por teléfono.</p>
                            <div class="contact-details fl-wrap">
                                <ul>
                                    <li><span>Correo :</span><a href="mailto:julianpilcue&#64;gmail.com" target="_blank">julianpilcue&#64;gmail.com</a></li>
                                    <li><span>Dirección :</span><a >Israel</a></li>
                                    <li><span>Teléfono :</span><a href="tel:+972526767187" target="_blank">+972 52-676-7187</a></li>
                                </ul>
                            </div>
                            <a href="#sec3" class="custom-scroll-link btn fl-btn">Escribirme</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--section end  -->
                            
            <!--section   -->
           <!--  <section id="sec2">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Studio Location</h3>
                        <h4>Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa</h4>
                    </div>
                    <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <div class="map-box">
                                <div id="map-single"    data-latlog="[40.714 , -74.005]" data-popuptext="Our Location in New York ."></div>
                            </div>
                            <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu, vel ultrices nisi nibh vitae ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius lacinia vestibulum. Aliquam lobortis facilisis tellus, in facilisis ex vehicula ac. In malesuada quis turpis vel viverra.</p>
                        </div>
                    </div>
                </div>
            </section> -->
            <!--section end  --> 
            <!--section   -->
            <section id="sec3">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Envíame un mensaje</h3>
                        <h4>Escribe tus datos y un mensaje y lo responderé lo antes posible.</h4>
                    </div>
                    <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <p> Recuerda que todo proyecto requiere tiempo, por favor sé paciente. </p>
                            <div id="contact-form" class="fl-wrap">
                                <div id="message"></div>
                                <form class="custom-form" name="contactform" id="contactform" (ngSubmit)="sendToWhatsApp()" #form="ngForm">
    <fieldset>
        <input type="text" name="name" id="name" placeholder="Tu nombre *" [(ngModel)]="contact.name" required>
        <input type="text" name="email" id="email" placeholder="Tu email *" [(ngModel)]="contact.email" required>
        <textarea name="comments" id="comments" cols="40" rows="3" placeholder="Tu mensaje:" [(ngModel)]="contact.comments" required></textarea>
        <button type="submit" class="btn float-btn flat-btn color-bg" id="submit">Enviar</button>
    </fieldset>
</form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--section end  -->
        </div>
        <!-- column-wrapper -->
        <!-- fixed-bottom-container -->
        <div class="fixed-bottom-container">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="page-scroll-nav">
                <nav class="scroll-init">
                    <ul>
                        <li><a  href="#sec1" class="act-sec"></a><span>Detalles</span></li>
                        <li><a  href="#sec2"></a><span>Ubicación</span></li>
                        <li><a  href="#sec3"></a><span>Escribirme</span></li>
                    </ul>
                </nav>
            </div>
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
        </div>
        <!-- fixed-bottom-container end-->
    </div>
    <!-- content-holder end -->
</div>