<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        <!-- column-image  -->
        <div class="column-image">
            <div class="bg" data-bg="images/bg/17.jpg"></div>
            <div class="overlay"></div>
            <div class="column-title">
                <h2>ALGUNAS PALABRAS SOBRE MÍ
                </h2>
                <h3>La fotografía es mi pasión, y a través de mi lente, descubro un mundo diferente que me encantaría compartir contigo. </h3>
            </div>
            <div class="ci_dec"><span></span></div>
        </div>
        <!-- column-image end  -->
        <!-- column-wrapper -->
        <div class="column-wrapper">
            <!--section  -->
            <section id="sec1">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Julian Pilcue</h3>
                        <h4>Fotografo de profesión</h4>

                        <div class="section-number">01. </div>
                    </div>
                   
                    <div class="column-wrapper_text fl-wrap">
                        <div class="column-wrapper_item fl-wrap">
                            <div class="column-wrapper_text fl-wrap">
                                <!-- serv-wrap-->
                                <div class="serv-wrap fl-wrap">
                                    <!-- serv-item -->
                                    <div class="serv-item">
                                        
                                        <div class="serv-text">
                                            <h4 class="text-center" style="color: #fff">  ENCANTADO DE CONOCERTE</h4>
                                            
                                            <p style="text-align: justify;">Soy Julian Pilcue, un fotógrafo profesional con base en la hermosa ciudad de Ashkelon, Israel. Estoy emocionado de conocerte y de que explores mi portafolio de fotografías. Después de ver mi trabajo, espero que podamos colaborar en la creación de algo verdaderamente excepcional.</p>
                
                                            <p style="text-align: justify;">Creo firmemente en la frase: "Una imagen vale más que mil palabras".</p>
                
                                            <p style="text-align: justify;">Mi viaje en el mundo de la fotografía comenzó en los Actos de Grado de la Ilustre Universidad de Los Andes en el Estado Mérida, Venezuela, 
                                                donde fui el fotógrafo oficial durante más de 20 años. Durante este tiempo, he adquirido una amplia experiencia en la captura de todo tipo de eventos sociales. Para mí, no hay nada como poder capturar momentos y emociones a través de mi lente; es lo que más disfruto en la vida.</p>
                                        </div>
                                        
                                        <div class="serv-media">
                                            <img src="images/perfil.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <a  class="btn fl-btn">Mi portafolio</a>
                    </div>
                </div>
            </section>
            <!--section end  -->
            <!--section   -->
            <section id="sec2">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Pricipales servicios</h3>
                        
                        <h4>Aqui ocurre la magia</h4>
                        <p style="text-align: justify;">
                            El desempeñarme en este campo tan extenso me ha permitido conocer y adquirir experiencia en los diferentes ambientes como Actos de Grado, Cumpleaños, Bodas, Bautizos, Britmila, Secciones personales y eventos deportivos, mejorando cada día para brindar un mejor servicio garantizando calidad y responsabilidad..
                        </p>
                        <p style="text-align: justify;">  
                            Normalmente usamos ambientes al aire libre para realizar las secciones fotográfica aprovechando la naturaleza y sus paisajes. Me e inclinado por realizar Bodas, estando atento a los pequeños detalles que hacen la diferencia y plasmar esos momentos inolvidables
                        </p>
                        <div class="section-number">02.</div>
                        <a  class="btn fl-btn" (click)="global.activeRoute = 'service'">Ver mis servicios</a>
                    </div>
                   
                </div>
            </section>
            <!--section end  -->
            <!--section   -->
            <section id="sec3">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>PROCESAMIENTO DE FOTOGRAFÍAS</h3>
                        <p>Me apasiona mostrar el proceso de edición fotográfica. A menudo, el verdadero impacto solo se hace evidente a través de una comparación directa. Permíteme ilustrarte este concepto presentándote una imagen antes y después de su procesamiento. 
                        </p>
                        <div class="section-number">03.</div>
                       

                    </div>
                    
                     <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <div class="skillbar-box animaper">
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Photoshop</span></div>
                                    <div class="skill-bar-percent">95%</div>
                                    <div class="skillbar-bg" data-percent="95%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                               
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Illustrator</span></div>
                                    <div class="skill-bar-percent">65%</div>
                                    <div class="skillbar-bg" data-percent="65%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>IA GENERATION</span></div>
                                    <div class="skill-bar-percent">75%</div>
                                    <div class="skillbar-bg" data-percent="75%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Google ScketchUp</span></div>
                                    <div class="skill-bar-percent">90%</div>
                                    <div class="skillbar-bg" data-percent="90%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>
            <!--section end  -->
            <!--section -->
          
            <!--section end  -->
             <div class="clients-carousel-wrap">
                <div class="clients-carousel">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/1.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/2.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/3.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/4.png" alt=""></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
            <div class="order-wrap">
                <div class="container small-container">
                    <h4>Si tienes una solicitud diferente escribeme</h4>
                </div>
                <a  class="order_btn" (click)="global.setRoute('contact')">Contacto</a>
            </div>
        </div>
        <!-- column-wrapper -->
        <!-- fixed-bottom-container -->
        <div class="fixed-bottom-container">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="page-scroll-nav">
                <nav class="scroll-init">
                    <ul>
                        <li><a  href="#sec1" class="act-sec"></a><span>Sobre mi</span></li>
                        <li><a  href="#sec2"></a><span>Servicios</span></li>
                        <li><a  href="#sec3"></a><span>Edición</span></li>
                        <li><a  href="#sec4"></a><span>Contacto</span></li>
                    </ul>
                </nav>
            </div>
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
        </div>
        <!-- fixed-bottom-container end-->
    </div>
    <!-- content-holder end -->
</div>